VITE_SUPABASE_URL=https://jxvyugqwtxhjmxszybuf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4dnl1Z3F3dHhoam14c3p5YnVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5Mjc4NjUsImV4cCI6MjA5NDUwMzg2NX0.zJ84Bc7SzYU34dd-PpbceCcls9Xj_7tEDFXE0TFxIM4
VITE_APP_URL=https://seu-dominio.netlify.app
